/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, aside, section, article, nav, main {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

/* transition mixin */
/* font size */
h1 {
  font-size: 180%; }

h2 {
  font-size: 140%; }

h3 {
  font-size: 120%; }

h1.small {
  font-size: 150%; }

h2.small {
  font-size: 120%; }

h3.small {
  font-size: 110%; }

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.5em; }

p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  /* prevent image to be bigger than container */ }
  p.responsive-image-container {
    overflow: hidden; }

em {
  font-weight: bold;
  font-size: 1.1em; }

/* class for screenreaders only 
 * => inspired from bs3
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

a {
  text-decoration: underline;
  color: #b65930; }
  a:hover, a:focus, a:active {
    color: #8e4525;
    text-decoration: none; }
  a.light {
    color: white; }
    a.light:hover, a.light:focus, a.light:active {
      color: #e6e6e6; }
  a.special {
    color: #922d01; }
    a.special:hover, a.special:focus, a.special:active {
      color: #5f1d01; }

/* body styling */
body {
  background: #155b96 url("../img/background1col.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 100%/1.3 "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.wrapper {
  margin: 1em 0.5em 3em; }

/* header */
header {
  text-align: center;
  color: #fff; }

/* menu */
nav > a {
  display: none; }
nav ul {
  border-radius: 5px;
  background-color: #da622e;
  text-align: center;
  margin: 0 0 2em;
  clear: both; }
  nav ul li {
    line-height: 2em;
    padding: 0 0.5em;
    border-top: 2px solid #216b9a; }
    nav ul li:first-child {
      border-top: 0px; }
    nav ul li a {
      display: block;
      color: #fff; }
      nav ul li a:hover {
        color: #e6e6e6; }
      nav ul li a.current {
        color: #0f3146;
        font-weight: bold; }

/* section styling */
section, aside {
  background-color: #fff;
  border-radius: 5px;
  padding: 1em 1em;
  margin: 0 0 2em;
  /* promo styling */
  /* prices styling */ }
  section.promo, aside.promo {
    text-align: justify; }
    section.promo .promo-links, aside.promo .promo-links {
      display: none; }
    section.promo.teaser #promo-info, aside.promo.teaser #promo-info {
      display: none; }
    section.promo.info #promo-teaser, aside.promo.info #promo-teaser {
      display: none; }
  section.prices dl, aside.prices dl {
    line-height: 1.5em; }
    section.prices dl dt, aside.prices dl dt {
      margin-top: 0.5em; }
    section.prices dl dd, aside.prices dl dd {
      padding-left: 2em; }

/* form styling */
form ul li {
  line-height: 1.5em;
  margin: 0 0 1em; }

.fullwidth {
  width: 100%; }

label, legend {
  font-size: 1em;
  display: block;
  margin: 0.5em 0 0; }

input[type="text"],
input[type="email"],
textarea,
select {
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: .3em;
  background: #eee;
  text-indent: 0.5em;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  display: block; }

input[type="submit"],
input[type="reset"] {
  margin: 1em 1em 0 0;
  border: 1px solid #ccc;
  border-radius: .3em;
  background: #aaa;
  font-size: 1em;
  padding: 0.5em 1em; }

select {
  height: 2em; }

@media only screen and (max-width: 37em) {
  /** 1col nav, special handling for navigation in 1col layout **/
  nav {
    overflow: hidden;
    /* nav targetted */
    /* nav not targetted */ }
    nav > a {
      float: right;
      font-size: 1.3em;
      background: #fff;
      border-radius: 0.2em;
      padding: 0 0.5em;
      margin: 0 0 0.5em; }
    nav:target {
      height: 15.5em;
      -webkit-transition: height 1s ease-in-out;
      -moz-transition: height 1s ease-in-out;
      -ms-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out; }
      nav:target > a {
        display: none; }
        nav:target > a.hide {
          display: block; }
    nav:not(:target) {
      height: 3.2em;
      -webkit-transition: height 1s ease-in-out;
      -moz-transition: height 1s ease-in-out;
      -ms-transition: height 1s ease-in-out;
      -o-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out; }
      nav:not(:target) > a {
        display: block; }
        nav:not(:target) > a.hide {
          display: none; }
    nav > a {
      line-height: 2em; } }
@media all and (min-width: 37em) {
  /** 2 and 3 col layout **/
  body {
    background: #155b96 url("../img/background2col.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  header {
    margin: 2em 0; }

  nav {
    width: 26%;
    float: left; }

  main, aside {
    margin-left: 27%; }

  section.prices dl {
    margin: 0 auto;
    width: 80%; }

  label, legend {
    width: 30%;
    float: left;
    margin-right: 3%; }

  .fullwidth {
    width: 60%; }

  .nolabel {
    margin-left: 33%; } }
@media all and (min-width: 50em) {
  /** 3 col laybout **/
  body {
    background: #155b96 url("../img/background3col.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .subwrapper {
    float: left;
    width: 75%; }

  aside {
    margin-left: 75.8%; } }
@media all and (min-width: 75em) {
  /*
   *  fix width on big screen
   */
  .wrapper {
    width: 80%;
    max-width: 85em;
    margin: 0 auto; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background: #155b96 url("../img/background3col.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
