
/* body styling */
body {
    @include background-image("../img/background1col.jpg");
    font: 100%/1.3 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.wrapper {
    margin: 1em 0.5em 3em;
}

/* header */
header {
    text-align: center;
    color: #fff;
}

/* menu */
nav {

    > a {
        display: none;
    }

    ul {

        border-radius: 5px;
        background-color: #da622e;
        text-align: center;

        margin: 0 0 2em;

        clear: both;

        li {
            line-height: 2em;
            padding: 0 0.5em;
            border-top: 2px solid #216b9a;
            
            &:first-child {
                border-top: 0px;
            }

            a {
                display: block;
                color: #fff;
                &:hover {
                    color: darken(#fff, 10%);
                }

                &.current {
                    color: darken(#216b9a, 20%);
                    font-weight: bold;
                }
            }
        }
    }
}

/* section styling */
section, aside {
    background-color: #fff;
    border-radius: 5px;
    padding: 1em 1em;
    margin: 0 0 2em;

    /* promo styling */
    &.promo {
        text-align: justify;
        .promo-links {
            display: none;
        }

        &.teaser {
            #promo-info {
                display: none;
            }
        }

        &.info {
            #promo-teaser {
                display: none;
            }
        }
    }

    /* prices styling */
    &.prices {

        dl {
            line-height: 1.5em;

            dt {
                margin-top: 0.5em;
            }

            dd {
                padding-left: 2em;
            }
        }
    }

    &.application {
        /* prevent image to be bigger than container */
        overflow: hidden;
    }
}


/* form styling */
form ul {
    li {
        line-height: 1.5em;
        margin: 0 0 1em;
    }
}

.fullwidth {
    width: 100%;
}
label, legend {
    font-size: 1em;
    display: block;
    margin: 0.5em 0 0;
}

input[type="text"],
input[type="email"],
textarea,
select {
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: .3em;
    background: #eee;
    text-indent: 0.5em;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    display: block;
}

input[type="submit"],
input[type="reset"] {
    margin: 1em 1em 0 0;
    border: 1px solid #ccc;
    border-radius: .3em;
    background: #aaa;
    font-size: 1em;
    padding: 0.5em 1em;
}

select {
    height: 2em;
}


