/** 2 and 3 col layout **/

body {
    @include background-image("../img/background2col.jpg");
}

header {
    margin: 2em 0;
}

nav {
    width: 26%;
    float: left;
}

main, aside {
    margin-left: 27%;
}

// special section prices styling
section.prices dl {
    margin: 0 auto;
    width: 80%;
}

label, legend {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.fullwidth {
    width: 60%;
}

.nolabel {
    margin-left: 33%;
}