
/* body styling */
body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* wrapper to center content */
.wrapper {
    width: 960px;
    margin: 2em auto;
}

/* header */
header {
    text-align: center;
    color: #fff;
}

/* menu */
nav.menu {
    
}




